@use "../../sass/default" as theme;

.modal-title,
.modal-subtitle {
  color: theme.$base-color4;
}

.modal-body img {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid grey;
  border-radius: 10px;
}

.modal-link {
  color: blue;
}